<% if score.name == "North and South Circular" %>
    <h2>Within the North and South Circular</h2>

    <p>The North and South Circular roads form a ring around inner London. This area was used as the boundary for the expanded Ultra Low Emission Zone in 2021.</p>
<% elsif score.name == "M25" %>
    <h2>Within the M25</h2>

    <p>The M25 is the orbital motorway that circles Greater London. This area became the boundary for the Ultra Low Emission Zone when it was extended in 2023.</p>
<% elsif score.name == "London Inner Ring Road" %>
    <h2>Within the London Inner Ring Road</h2>

    <p>The London Inner Ring Road is a complex series of roads that roughly follow the Circle line. This area corresponds to the original Congestion Charge Zone introduced in 2003 and the original Ultra Low Emission Zone boundary.</p>
<% end %>