<% if score.name == "ULEZ 2021" %>
    <h2>ULEZ since 2021</h2>

    <p>When the Ultra Low Emission Zone was first introduced, it was boundaried by the North and South Circular.</p>
<% elsif score.name == "ULEZ 2023" %>
    <h2>ULEZ since 2023</h2>

    <p>When the Ultra Low Emission Zone was extended in 2023, it was boundaried by the M25.</p>
<% elsif score.name == "ULEZ 2019" %>
    <h2>Congestion Charge Zone</h2>

    <p>The Congestion Charge Zone was introduced in 2003 and is boundaried by the North and South Circular.</p>
<% end %>