<h2>No nearby tube station</h2>

<p>The nearest tube station is <%= score.name %> (Zone <%= score.zone %>), which is <%= @scorecard.distance_to_nearest_tube_station.round %> metres away. You need to be within 5km of a tube station to score points.</p>
