<h2>Lower TFL Travel Accessibility Rating</h2>

<% if score.name %>
  <p>TFL gives this area a rating of <%= score.name %>.</p>
<% else %>
  <p>This area doesn't have a TFL accessibility rating.</p>
<% end %>
